:root {
    --selection: hsl(60, 71%, 35%);
    --primary-darker: hsl(60, 71%, 15%);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    color: #293c4b;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.wichteln-create {
    display: flex;
    justify-content: center;
    width: 100vw;
    overflow-y: auto;
}

.wichteln-create .wrapper {
    max-width: 600px;
}

h1 {
    font-size: 30px;
}

img {
    margin: 20px 0;
    max-width: 200px;
}

.selected {
    border: .1em solid var(--selection);
    border-radius: .1em;
    background-color: var(--selection);
    color: white;
}

ul.participants.enter {
    list-style-type: none;
    padding: 0;
}

ul.participants.enter>li {
    margin: .8em 0;
    display: flex;
    flex-direction: column;
}


/* dot progress navigation */

.progress-dots {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    --dot-border: 2px;
    --dot-diameter: 20px;
    --dot-anim: 0.3s;
}

.progress-dots>ul {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    cursor: default;
    user-select: none;
    background-color: var(--selection);
    border-radius: var(--dot-diameter);
    border: var(--dot-border) solid var(--selection);
    display: inline-flex;
    display: flex;
    /* min-width: calc(20 * var(--dot-diameter)); */
    width: 70%;
    justify-content: space-between;
}

.progress-dots li {
    position: relative;
    display: block;
    z-index: 1;
    width: var(--dot-diameter);
    height: var(--dot-diameter);
    cursor: pointer;
    border: var(--dot-border) solid white;
    border-radius: 50%;
    transition: border-color var(--dot-anim) ease;
}

.progress-dots li.not-visited {
    border-style: dashed;
    cursor: default;
}

.no-flexbox .progress-dots li {
    float: left;
    margin: 0 var(--dot-diameter);
}

.no-flexbox .progress-dots li:first-child {
    margin-left: 0;
}

.no-flexbox .progress-dots li:last-child {
    margin-right: 0;
}

.progress-dots li>a {
    position: absolute;
    top: auto;
    bottom: 28px;
    left: 50%;
    /* width: 100%; */
    /* height: 100%; */
    width: auto;
    height: auto;
    padding: 0 10px;
    border: var(--dot-border) solid white;
    border-radius: var(--dot-border);
    border-radius: var(--dot-diameter);
    border-radius: 2em;
    background-color: var(--selection);
    color: white;
    text-decoration: none;
    /* text-indent: 0; */
    line-height: 2em;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
    transition: transform var(--dot-anim) ease, opacity var(--dot-anim) ease, visibility 0s var(--dot-anim) ease;
}

.progress-dots a,
.progress-dots a:focus {
    outline: none;
}

.progress-dots li:hover>a,
.progress-dots li.current>a {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0%);
    transition: transform var(--dot-anim) ease, opacity var(--dot-anim) ease;
}

.progress-dots li.current {
    border-color: var(--selection);
    background: white;
}

.progress-dots li:hover,
.progress-dots li:hover>a,
.progress-dots li.current>a {
    z-index: 11;
}

.progress-dots ul:hover>li.current>a {
    opacity: 0.4;
}

.progress-dots ul>li.current:hover>a {
    opacity: 1;
}

.progress-dots li>a::after {
    position: absolute;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: var(--selection);
    content: '';
    pointer-events: none;
    top: 99%;
    backface-visibility: hidden;
    transition: opacity var(--dot-anim) ease;
}


/** styles for the lamp */

.lamp * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.wrapper.lamp {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #006633ff;
    user-select: none;
}

.wrapper.lamp .shine {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle closest-corner at 50% 40%, #fcea10 0, transparent 100%);
    background: radial-gradient(circle closest-corner at 50% calc(50% - 100px), #fcea10 0, transparent 100%);
    transition: opacity 0.4s;
    opacity: 0;
    z-index: 0;
}

.wrapper.lamp.active .shine {
    opacity: 1;
}

.wrapper.lamp svg {
    position: relative;
    cursor: pointer;
    /* Pointer API problems in Safari */
    touch-action: none;
    user-select: none;
    max-width: 100vw;
    max-height: 90vh;
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent; */
}

.wrapper.lamp.active svg {
    cursor: auto;
}

.wrapper.lamp>svg .draw-string {
    transition: transform .3s ease-in;
}

.wrapper.lamp>svg:hover .draw-string {
    transform: translateY(8px);
}

.wrapper.lamp.pulling>svg .draw-string{
    transform: translateY(16px);
}

.wrapper.lamp.active>svg:hover .draw-string {
    animation: pulling .5s;
}

@keyframes pulling {
    0% {
        transform: translateY(12px);
    }

    50% {
        transform: translateY(16px);
    }

    90% {
        transform: translateY(8px);
    }
}

.wrapper.lamp.active #star-on {
    display: block;
}

.wrapper.lamp.active #star-off {
    display: none;
}

.wrapper.lamp .target {
    font-size: 2rem;
    fill: #312783;
    opacity: 0;
}

.wrapper.lamp.active .target {
    transition: opacity 0.6s;
    opacity: 1;
}

.wrapper.lamp .hint,
.wrapper.lamp .result,
.wrapper.lamp .result-2 {
    z-index: 10;
}

.wrapper.lamp .hint,
.wrapper.lamp .result {
    position: absolute;
    font-size: 2rem;
}

.wrapper.lamp .result.top {
    top: 10%;
    right: 60%;
}

.wrapper.lamp .result.bottom {
    top: 60%;
    left: 55%;
}

.wrapper.lamp .result {
    opacity: 0;
}

.wrapper.lamp.active .result {
    opacity: 1;
}

.wrapper.lamp .arrow {
    fill: none;
    stroke: #1D1D1B;
    stroke-width: 2.5;
    animation: arrow 3s infinite;
}

.wrapper.lamp .arrow.a1 {
    animation-delay: -1s;
}

.wrapper.lamp .arrow.a2 {
    animation-delay: -.5s;
}

.wrapper.lamp .arrow.a3 {
    animation-delay: 0s;
}

.wrapper.lamp.active .arrow {
    opacity: 0 !important;
    display: none;
}

@keyframes arrow {
    0% {
        opacity: 0
    }
    40% {
        opacity: .8
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

.wrapper.lamp .trees-left,
.wrapper.lamp .trees-right {
    position: absolute;
    bottom: 0;
    max-width: 30%;
    max-width: 30vw;
}

.wrapper.lamp .trees-left {
    left: 0;
}

.wrapper.lamp .trees-right {
    right: 0;
}

*:focus {
    outline: none;
}